
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Datasets & Heavy Files
RiceLeafs/
sample_leaves/
outputs*/

# Models (Keep ONLY backend_api/best_model_fixed.pth)
/best_model*.pth

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backend (Laravel)
smartplant-backend/vendor/
smartplant-backend/node_modules/
smartplant-backend/storage/*.key
smartplant-backend/public/storage
smartplant-backend/.env

# Mobile (Flutter)
smartplant-app/build/
smartplant-app/.dart_tool/
smartplant-app/.pub/
smartplant-app/.flutter-plugins
smartplant-app/.flutter-plugins-dependencies
